.pagination {
    overflow: hidden;
    text-align: center;
    position: relative;
    color: #333;
    font: normal 14px Roboto;
    &__next_active,
    &__prev_active {
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        height: 36px;
        box-sizing: border-box;
        @media only screen and (max-width: 520px) {
            height: 50px;
            padding: 0 15px;
            line-height: 48px;
        }
    }
    &__next_active,
    &__next {
        background-color: #f7f7f8;
        border: 1px solid #e5e5e5;
        border-right: 0px;
        border-radius: 3px 4px 4px 3px;
        color: #69696e;
        display: block;
        padding: 8px 10px;
        margin: 0 3px;
        position: relative;
        text-align: center;
        text-decoration: none;
        @media only screen and (max-width: 520px) {
            height: 50px;
            padding: 0 15px;
            line-height: 48px;
        }
    }
    &__next_active:after,
    &__next:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 94%;
        width: 0;
        border-color: transparent transparent transparent #f7f7f8;
        border-style: solid;
        border-width: 17px;
        @media only screen and (max-width: 520px) {
            border-width: 24px;
        }
    }
    &__next_active:before,
    &__next:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 94%;
        width: 0;
        border-color: transparent transparent transparent #e5e5e5;
        border-style: solid;
        border-width: 18px;
        @media only screen and (max-width: 520px) {
            border-width: 25px;
        }
    }
    &__prev_active,
    &__prev {
        background-color: #f7f7f8;
        border: 1px solid #e5e5e5;
        border-left: 0px;
        border-radius: 4px 3px 3px 4px;
        color: #69696e;
        display: block;
        padding: 8px 10px;
        margin: 0 3px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
    &__prev_active:after,
    &__prev:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 94%;
        width: 0;
        border-color: transparent transparent transparent #f7f7f8;
        border-style: solid;
        border-width: 17px;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        @media only screen and (max-width: 520px) {
            border-width: 24px;
        }
    }
    &__prev_active:before,
    &__prev:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        right: 95%;
        width: 0;
        border-color: transparent transparent transparent #e5e5e5;
        border-style: solid;
        border-width: 18px;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        @media only screen and (max-width: 520px) {
            border-width: 25px;
        }
    }
    &__prev_active:hover,
    &__next_active:hover {
        border-color: #a5a5a5;
        &:before {
            border-color: transparent transparent transparent #a5a5a5;
        }
    }
    &__prev,
    &__next {
        color: #ccc;
        height: 36px;
        box-sizing: border-box;
        padding: 0 10px;
        line-height: 34px;
        cursor: default;
    }
    &__prev_active,
    &__prev {
        padding: 0 10px;
        line-height: 34px;
    }
    &__current {
        border-radius: 3px;
        display: block;
        margin: 0 3px;
        position: relative;
        text-align: center;
        text-decoration: none;
        height: 36px;
        box-sizing: border-box;
        background-color: #64af37;
        border: 1px solid #5ba330;
        color: #fff;
        padding: 9px 10px;
        display: inline-block;
        vertical-align: bottom;
        margin: 3px 0;
        @media only screen and (max-width: 520px) {
            background-color: transparent;
            color: #333;
            border: 0;
            padding: 0 20px;
            height: 48px;
            line-height: 48px;
            font-weight: 400;
        }
    }
    &__btn {
        display: inline-block;
        vertical-align: bottom;
        margin: 3px 0;
        & a,
        span {
            @media only screen and (max-width: 520px) {
                height: 50px;
                padding: 0 15px;
                line-height: 48px;
            }
        }
    }
    &__item {
        background-color: #f7f7f8;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        color: #69696e;
        display: inline-block;
        padding: 8px 10px;
        margin: 3px 3px;
        position: relative;
        text-align: center;
        text-decoration: none;
        height: 36px;
        box-sizing: border-box;
        font: normal 14px Roboto;
        &_space {
            width: 20px;
            display: inline-block;
            vertical-align: bottom;
            margin: 3px 0;
            @media only screen and (max-width: 520px) {
                display: none;
            }
        }
        &:hover {
            background-color: #f5f5f5;
            border: 1px solid #a5a5a5;
            color: #69696e;
            text-decoration: none;
        }
        @media only screen and (max-width: 520px) {
            height: 50px;
            padding: 0 15px;
            line-height: 48px;
        }
    }
}
